<ion-view title=>
  <ion-nav-title ng-hide="waitingForOpponent">Time: 0:{{counter}}</ion-nav-title>

  <ion-nav-buttons side="right">
        <a class="button icon-left ion-flag button-stable" ng-click="endGame()">End</a>
    </ion-nav-buttons>

   
    <ion-content delegate-handle="gameScroll">
        <div class="question-buttons" ng-repeat="q in questions" ng-hide="circleNav">
          <button class="button-float" ng-class="$index==currentQuestionIndex? 'button-highlighted': 'button-unhighlighted'"></button>
        </div>

          <div class="list card" ng-repeat="q in questions" ng-show="$index == currentQuestionIndex">
              
            <div class="item item-avatar item-positive">
              <img ng-src="{{getSubjectImage(q.subject)}}">
              <h2>{{q.subject}}</h2>
              <h3>Score: {{score}}</h3>
            </div>

            <div class="item item-icon-left item-text-wrap">
              <i class="icon ion-ios-help-outline"></i>
              {{q.title}}
            </div>
            
            <ion-list>
              <div ng-repeat="choice in q.choices">
                <div class="item item-icon-left item-text-wrap item-stable">
                    <i ng-click="choiceSelected($index)" ng-class="isSelectedIndex($index)? 'icon ion-android-checkmark-circle': 'icon ion-android-radio-button-off'"></i>
                    {{choice}}
                </div>
              </div>
            </ion-list>

          </div>

          <a ng-click="madeSelection && enter()" ng-class="madeSelection? 'button-positive': 'button-stable'" class="button button-block ">
            <div ng-hide="waitingForOpponent">
            Submit
            </div>

            <div ng-show="waitingForOpponent">
              Waiting for Opponent to Finish
              <br>
              <ion-spinner icon="android" class="spinner-positive" ng-hide="finished"></ion-spinner>
              <i class="icon ion-checkmark-circled" ng-show="finished"></i>
            </div>
          </a>

        <!-- </ion-scroll> -->
    </ion-content>
</ion-view>