<ion-view title="Game has Started">

  <ion-nav-buttons side="right">
        <a class="button icon-left ion-flag button-stable" ng-click="endGame()">End</a>
    </ion-nav-buttons>

  
    <ion-content overflow-scroll="true">

        <div class="list card" ng-repeat="q in questions" ng-show="$index == currentQuestionIndex">
            
          <div class="item item-avatar item-positive">
            <img ng-src="{{getSubjectImage(q.subject)}}">
            <h2>{{q.subject}}</h2>
            <h3>Score: {{score}}</h3>
          </div>

          <div class="item item-icon-left item-text-wrap">
            <i class="icon ion-ios-help-outline"></i>
            {{q.title}}
          </div>
          
          <ion-list>
          <div ng-repeat="choice in q.choices">
            <a ng-click="choiceSelected($index)" class="item item-icon-left item-text-wrap item-stable">
                <i ng-class="isSelectedIndex($index)? 'ion-android-done-all': 'ion-android-arrow-dropright'"></i>
                {{choice}}
            </a>
          </div>
          </ion-list>

        </div>
        <a ng-click="madeSelection && enter()" ng-class="madeSelection? 'button-positive': 'button-stable'" class="button button-block icon-right ion-android-exit">Submit</a>

    </ion-content>
</ion-view>