<ion-view title="Quick Play">

	<ion-nav-buttons side="left">
        <a class="button icon-left ion-chevron-left button-clear" ng-click="leaveQuick()"></a>
    </ion-nav-buttons>
	<ion-content>
		<div>

				<!-- Subject -->
				<label class="item item-input item-select">
					<div class="input-label">
						Subject
					</div>
					<select ng-model="subject">
						<option selected>Psychology</option>
						<option>World History</option>
					</select>
				</label>

			<button ng-class="subject!=null? 'button-balanced': 'button-stable'" class="button button-full" ng-click="subject!=null && findMatch(subject)">
				<div ng-hide="waiting">
					Play
				</div>

				<div ng-show="waiting">
					Finding Opponent
					<br>
					<ion-spinner icon="android" class="spinner-positive" ng-hide="finished"></ion-spinner>
					<i class="icon ion-checkmark-circled" ng-show="finished"></i>
				</div>
			</button>
	</ion-content>
</ion-view>