<ion-view title="Menu">
    <ion-nav-buttons side="left">
        <button class="button icon ion-navicon" ng-click="doSomeAction()"></button>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
        <button class="button" ng-click="doLogoutAction()">
            Logout
        </button>
    </ion-nav-buttons>
    <ion-content>

        <div class="row">
            <button class="button  button-positive button-menu col col-50 icon" ng-click="quickPlay()">
                <i class="icon ion-paper-airplane"></i>
                <br>
                Quick Play
                
               
            </button>

            
            <button class="button button-positive button-menu col col-50" ng-click="study()">
                <i class="icon ion-android-create"></i>
                <br>
                Study (1 Player)
            </button>
        </div>

         <div class="row">

            <button class="button button-positive button-menu col col-50" ng-click="findGame()">
                <i class="icon ion-android-search"></i>
                <br>
                Find Game
            </button>

            <button class="button  button-positive button-menu col col-50" ng-click="createGame()">
                <i class="icon ion-plus-round"></i>
                <br>
                Create Game (Teachers)
            </button>

            
        </div>
        

        <div class="list card" >
            
          <div class="item item-icon-left item-balanced">
            <i class="icon ion-loop"></i>
            <h2>Games in Progress</h2>
          </div>
          
          <ion-list>
          
            <a ng-repeat="game in games" ng-click="enterGame(game)" class="item item-icon-right item-text-wrap item-stable item-avatar">
                <img ng-src="{{getSubjectImage(game.subject)}}">
                <i class="icon ion-ios-play-outline"></i>
                {{game.subject}}
                {{game.creator}}
            </a>

            <div ng-repeat="message in messages">
                
            <h2>{{message}}</h2>
            </div>
          </ion-list>

        </div>
    </ion-content>
</ion-view>
