/*ion-spinner {
  float: left;
  margin-left: -3.2em;
  margin-right: 1em;
  margin-top: -0.2em;
 }*/

/*div.spinner {
  margin: auto;
  position: absolute;
  height: 85px;
}
.spinner svg {
  width: 14% !important;
  height: 20px !important;
  vertical-align: center;
  position:absolute;
}*/

/*@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 200;
}*/

.center {
  text-align: center;
}


$assertive :#ef473a;
.button-float{
  background: $assertive !important;
  color:white !important;
  z-index: 12 !important;
  position: absolute !important; 
  bottom: 10px !important;
  right: 10px !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;

}

.button-float:hover{
  -webkit-transform: translate3d(0, -10px, 0)  !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
    background: darken($assertive, 10%) !important;
}